.calc-buttons {
  display: flex;
  justify-content: center;
}

p {
  border: 1px solid black;
}

.calc-body {
  border: 1px solid black;
}

body {
  margin: auto;
  padding: 2%;
  text-align: center;
  justify-content: center;
  border: 1px solid black;
  width: 80%;
  height: 100%;
}

button {
  display: block;
  height: 100%;
  width: 40%;
  padding: 2%;
  font-size: larger;
}
